<section class="p-6 my-6 dark:bg-gray-800 dark:text-gray-100">
    <div class="p-6 container grid grid-cols-1 gap-6 mx-auto sm:grid-cols-2 xl:grid-cols-4">
        <div class="max-w-s p-6 rounded-md shadow-md dark:bg-gray-900 dark:text-gray-50">
            <img src="https://th.bing.com/th/id/OIP.PWlP1SyEaQBsgr65docapwHaJh?rs=1&pid=ImgDetMain" alt="" class="object-cover object-center w-full rounded-md h-72 dark:bg-gray-500">
            <div class="mt-6 mb-2">
                <span class="block text-xs font-medium tracki uppercase dark:text-default-400">NEW</span>
                <h2 class="text-xl font-semibold tracki">Breshka Coat</h2>
            </div>
            <div class="mt-2 mb-2">
                <h2 class="text-xl font-semibold tracki">2500000 RLS</h2>
            </div>
            <div class="flex justify-left p-2 align-left rounded-lg sm:p-4 dark:bg-default-400">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor" class="h-9 w-9 dark:text-gray-800">
                  <polygon points="160 96.039 160 128.039 464 128.039 464 191.384 428.5 304.039 149.932 304.039 109.932 16 16 16 16 48 82.068 48 122.068 336.039 451.968 336.039 496 196.306 496 96.039 160 96.039"></polygon>
                  <path d="M176.984,368.344a64.073,64.073,0,0,0-64,64h0a64,64,0,0,0,128,0h0A64.072,64.072,0,0,0,176.984,368.344Zm0,96a32,32,0,1,1,32-32A32.038,32.038,0,0,1,176.984,464.344Z"></path>
                  <path d="M400.984,368.344a64.073,64.073,0,0,0-64,64h0a64,64,0,0,0,128,0h0A64.072,64.072,0,0,0,400.984,368.344Zm0,96a32,32,0,1,1,32-32A32.038,32.038,0,0,1,400.984,464.344Z"></path>
                </svg>
            </div>
        </div>
        <div class="max-w-s p-6 rounded-md shadow-md dark:bg-gray-900 dark:text-gray-50">
            <img src="https://th.bing.com/th/id/OIP.PWlP1SyEaQBsgr65docapwHaJh?rs=1&pid=ImgDetMain" alt="" class="object-cover object-center w-full rounded-md h-72 dark:bg-gray-500">
            <div class="mt-6 mb-2">
                <!-- <span class="block text-xs font-medium tracki uppercase dark:text-default-400">NEW</span> -->
                <h2 class="text-xl font-semibold tracki">Breshka Coat</h2>
            </div>
            <div class="mt-2 mb-2">
                <h2 class="text-xl font-semibold tracki">2500000 RLS</h2>
            </div>
            <div class="flex justify-left p-2 align-left rounded-lg sm:p-4 dark:bg-default-400">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor" class="h-9 w-9 dark:text-gray-800">
                  <polygon points="160 96.039 160 128.039 464 128.039 464 191.384 428.5 304.039 149.932 304.039 109.932 16 16 16 16 48 82.068 48 122.068 336.039 451.968 336.039 496 196.306 496 96.039 160 96.039"></polygon>
                  <path d="M176.984,368.344a64.073,64.073,0,0,0-64,64h0a64,64,0,0,0,128,0h0A64.072,64.072,0,0,0,176.984,368.344Zm0,96a32,32,0,1,1,32-32A32.038,32.038,0,0,1,176.984,464.344Z"></path>
                  <path d="M400.984,368.344a64.073,64.073,0,0,0-64,64h0a64,64,0,0,0,128,0h0A64.072,64.072,0,0,0,400.984,368.344Zm0,96a32,32,0,1,1,32-32A32.038,32.038,0,0,1,400.984,464.344Z"></path>
                </svg>
            </div>
        </div>

        <div class="max-w-s p-6 rounded-md shadow-md dark:bg-gray-900 dark:text-gray-50">
            <img src="https://th.bing.com/th/id/OIP.PWlP1SyEaQBsgr65docapwHaJh?rs=1&pid=ImgDetMain" alt="" class="object-cover object-center w-full rounded-md h-72 dark:bg-gray-500">
            <div class="mt-6 mb-2">
                <!-- <span class="block text-xs font-medium tracki uppercase dark:text-default-400">NEW</span> -->
                <h2 class="text-xl font-semibold tracki">Breshka Coat</h2>
            </div>
            <div class="mt-2 mb-2">
                <h2 class="text-xl font-semibold tracki">2500000 RLS</h2>
            </div>
            <div class="flex justify-left p-2 align-left rounded-lg sm:p-4 dark:bg-default-400">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor" class="h-9 w-9 dark:text-gray-800">
                  <polygon points="160 96.039 160 128.039 464 128.039 464 191.384 428.5 304.039 149.932 304.039 109.932 16 16 16 16 48 82.068 48 122.068 336.039 451.968 336.039 496 196.306 496 96.039 160 96.039"></polygon>
                  <path d="M176.984,368.344a64.073,64.073,0,0,0-64,64h0a64,64,0,0,0,128,0h0A64.072,64.072,0,0,0,176.984,368.344Zm0,96a32,32,0,1,1,32-32A32.038,32.038,0,0,1,176.984,464.344Z"></path>
                  <path d="M400.984,368.344a64.073,64.073,0,0,0-64,64h0a64,64,0,0,0,128,0h0A64.072,64.072,0,0,0,400.984,368.344Zm0,96a32,32,0,1,1,32-32A32.038,32.038,0,0,1,400.984,464.344Z"></path>
                </svg>
            </div>
        </div>
        <div class="max-w-s p-6 rounded-md shadow-md dark:bg-gray-900 dark:text-gray-50">
            <img src="https://th.bing.com/th/id/OIP.PWlP1SyEaQBsgr65docapwHaJh?rs=1&pid=ImgDetMain" alt="" class="object-cover object-center w-full rounded-md h-72 dark:bg-gray-500">
            <div class="mt-6 mb-2">
                <!-- <span class="block text-xs font-medium tracki uppercase dark:text-default-400">NEW</span> -->
                <h2 class="text-xl font-semibold tracki">Breshka Coat</h2>
            </div>
            <div class="mt-2 mb-2">
                <h2 class="text-xl font-semibold tracki">2500000 RLS</h2>
            </div>
            <div class="flex justify-left p-2 align-left rounded-lg sm:p-4 dark:bg-default-400">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor" class="h-9 w-9 dark:text-gray-800">
                  <polygon points="160 96.039 160 128.039 464 128.039 464 191.384 428.5 304.039 149.932 304.039 109.932 16 16 16 16 48 82.068 48 122.068 336.039 451.968 336.039 496 196.306 496 96.039 160 96.039"></polygon>
                  <path d="M176.984,368.344a64.073,64.073,0,0,0-64,64h0a64,64,0,0,0,128,0h0A64.072,64.072,0,0,0,176.984,368.344Zm0,96a32,32,0,1,1,32-32A32.038,32.038,0,0,1,176.984,464.344Z"></path>
                  <path d="M400.984,368.344a64.073,64.073,0,0,0-64,64h0a64,64,0,0,0,128,0h0A64.072,64.072,0,0,0,400.984,368.344Zm0,96a32,32,0,1,1,32-32A32.038,32.038,0,0,1,400.984,464.344Z"></path>
                </svg>
            </div>
        </div>
        <div class="max-w-s p-6 rounded-md shadow-md dark:bg-gray-900 dark:text-gray-50">
            <img src="https://th.bing.com/th/id/OIP.PWlP1SyEaQBsgr65docapwHaJh?rs=1&pid=ImgDetMain" alt="" class="object-cover object-center w-full rounded-md h-72 dark:bg-gray-500">
            <div class="mt-6 mb-2">
                <!-- <span class="block text-xs font-medium tracki uppercase dark:text-default-400">NEW</span> -->
                <h2 class="text-xl font-semibold tracki">Breshka Coat</h2>
            </div>
            <div class="mt-2 mb-2">
                <h2 class="text-xl font-semibold tracki">2500000 RLS</h2>
            </div>
            <div class="flex justify-left p-2 align-left rounded-lg sm:p-4 dark:bg-default-400">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor" class="h-9 w-9 dark:text-gray-800">
                  <polygon points="160 96.039 160 128.039 464 128.039 464 191.384 428.5 304.039 149.932 304.039 109.932 16 16 16 16 48 82.068 48 122.068 336.039 451.968 336.039 496 196.306 496 96.039 160 96.039"></polygon>
                  <path d="M176.984,368.344a64.073,64.073,0,0,0-64,64h0a64,64,0,0,0,128,0h0A64.072,64.072,0,0,0,176.984,368.344Zm0,96a32,32,0,1,1,32-32A32.038,32.038,0,0,1,176.984,464.344Z"></path>
                  <path d="M400.984,368.344a64.073,64.073,0,0,0-64,64h0a64,64,0,0,0,128,0h0A64.072,64.072,0,0,0,400.984,368.344Zm0,96a32,32,0,1,1,32-32A32.038,32.038,0,0,1,400.984,464.344Z"></path>
                </svg>
            </div>
        </div>
        <div class="max-w-s p-6 rounded-md shadow-md dark:bg-gray-900 dark:text-gray-50">
            <img src="https://th.bing.com/th/id/OIP.PWlP1SyEaQBsgr65docapwHaJh?rs=1&pid=ImgDetMain" alt="" class="object-cover object-center w-full rounded-md h-72 dark:bg-gray-500">
            <div class="mt-6 mb-2">
                <!-- <span class="block text-xs font-medium tracki uppercase dark:text-default-400">NEW</span> -->
                <h2 class="text-xl font-semibold tracki">Breshka Coat</h2>
            </div>
            <div class="mt-2 mb-2">
                <h2 class="text-xl font-semibold tracki">2500000 RLS</h2>
            </div>
            <div class="flex justify-left p-2 align-left rounded-lg sm:p-4 dark:bg-default-400">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor" class="h-9 w-9 dark:text-gray-800">
                  <polygon points="160 96.039 160 128.039 464 128.039 464 191.384 428.5 304.039 149.932 304.039 109.932 16 16 16 16 48 82.068 48 122.068 336.039 451.968 336.039 496 196.306 496 96.039 160 96.039"></polygon>
                  <path d="M176.984,368.344a64.073,64.073,0,0,0-64,64h0a64,64,0,0,0,128,0h0A64.072,64.072,0,0,0,176.984,368.344Zm0,96a32,32,0,1,1,32-32A32.038,32.038,0,0,1,176.984,464.344Z"></path>
                  <path d="M400.984,368.344a64.073,64.073,0,0,0-64,64h0a64,64,0,0,0,128,0h0A64.072,64.072,0,0,0,400.984,368.344Zm0,96a32,32,0,1,1,32-32A32.038,32.038,0,0,1,400.984,464.344Z"></path>
                </svg>
            </div>
        </div>
        <div class="max-w-s p-6 rounded-md shadow-md dark:bg-gray-900 dark:text-gray-50">
            <img src="https://th.bing.com/th/id/OIP.PWlP1SyEaQBsgr65docapwHaJh?rs=1&pid=ImgDetMain" alt="" class="object-cover object-center w-full rounded-md h-72 dark:bg-gray-500">
            <div class="mt-6 mb-2">
                <!-- <span class="block text-xs font-medium tracki uppercase dark:text-default-400">NEW</span> -->
                <h2 class="text-xl font-semibold tracki">Breshka Coat</h2>
            </div>
            <div class="mt-2 mb-2">
                <h2 class="text-xl font-semibold tracki">2500000 RLS</h2>
            </div>
            <div class="flex justify-left p-2 align-left rounded-lg sm:p-4 dark:bg-default-400">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor" class="h-9 w-9 dark:text-gray-800">
                  <polygon points="160 96.039 160 128.039 464 128.039 464 191.384 428.5 304.039 149.932 304.039 109.932 16 16 16 16 48 82.068 48 122.068 336.039 451.968 336.039 496 196.306 496 96.039 160 96.039"></polygon>
                  <path d="M176.984,368.344a64.073,64.073,0,0,0-64,64h0a64,64,0,0,0,128,0h0A64.072,64.072,0,0,0,176.984,368.344Zm0,96a32,32,0,1,1,32-32A32.038,32.038,0,0,1,176.984,464.344Z"></path>
                  <path d="M400.984,368.344a64.073,64.073,0,0,0-64,64h0a64,64,0,0,0,128,0h0A64.072,64.072,0,0,0,400.984,368.344Zm0,96a32,32,0,1,1,32-32A32.038,32.038,0,0,1,400.984,464.344Z"></path>
                </svg>
            </div>
        </div>
        <div class="max-w-s p-6 rounded-md shadow-md dark:bg-gray-900 dark:text-gray-50">
            <img src="https://th.bing.com/th/id/OIP.PWlP1SyEaQBsgr65docapwHaJh?rs=1&pid=ImgDetMain" alt="" class="object-cover object-center w-full rounded-md h-72 dark:bg-gray-500">
            <div class="mt-6 mb-2">
                <!-- <span class="block text-xs font-medium tracki uppercase dark:text-default-400">NEW</span> -->
                <h2 class="text-xl font-semibold tracki">Breshka Coat</h2>
            </div>
            <div class="mt-2 mb-2">
                <h2 class="text-xl font-semibold tracki">2500000 RLS</h2>
            </div>
            <div class="flex justify-left p-2 align-left rounded-lg sm:p-4 dark:bg-default-400">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor" class="h-9 w-9 dark:text-gray-800">
                  <polygon points="160 96.039 160 128.039 464 128.039 464 191.384 428.5 304.039 149.932 304.039 109.932 16 16 16 16 48 82.068 48 122.068 336.039 451.968 336.039 496 196.306 496 96.039 160 96.039"></polygon>
                  <path d="M176.984,368.344a64.073,64.073,0,0,0-64,64h0a64,64,0,0,0,128,0h0A64.072,64.072,0,0,0,176.984,368.344Zm0,96a32,32,0,1,1,32-32A32.038,32.038,0,0,1,176.984,464.344Z"></path>
                  <path d="M400.984,368.344a64.073,64.073,0,0,0-64,64h0a64,64,0,0,0,128,0h0A64.072,64.072,0,0,0,400.984,368.344Zm0,96a32,32,0,1,1,32-32A32.038,32.038,0,0,1,400.984,464.344Z"></path>
                </svg>
            </div>
        </div>
        <div class="max-w-s p-6 rounded-md shadow-md dark:bg-gray-900 dark:text-gray-50">
            <img src="https://th.bing.com/th/id/OIP.PWlP1SyEaQBsgr65docapwHaJh?rs=1&pid=ImgDetMain" alt="" class="object-cover object-center w-full rounded-md h-72 dark:bg-gray-500">
            <div class="mt-6 mb-2">
                <!-- <span class="block text-xs font-medium tracki uppercase dark:text-default-400">NEW</span> -->
                <h2 class="text-xl font-semibold tracki">Breshka Coat</h2>
            </div>
            <div class="mt-2 mb-2">
                <h2 class="text-xl font-semibold tracki">2500000 RLS</h2>
            </div>
            <div class="flex justify-left p-2 align-left rounded-lg sm:p-4 dark:bg-default-400">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor" class="h-9 w-9 dark:text-gray-800">
                  <polygon points="160 96.039 160 128.039 464 128.039 464 191.384 428.5 304.039 149.932 304.039 109.932 16 16 16 16 48 82.068 48 122.068 336.039 451.968 336.039 496 196.306 496 96.039 160 96.039"></polygon>
                  <path d="M176.984,368.344a64.073,64.073,0,0,0-64,64h0a64,64,0,0,0,128,0h0A64.072,64.072,0,0,0,176.984,368.344Zm0,96a32,32,0,1,1,32-32A32.038,32.038,0,0,1,176.984,464.344Z"></path>
                  <path d="M400.984,368.344a64.073,64.073,0,0,0-64,64h0a64,64,0,0,0,128,0h0A64.072,64.072,0,0,0,400.984,368.344Zm0,96a32,32,0,1,1,32-32A32.038,32.038,0,0,1,400.984,464.344Z"></path>
                </svg>
            </div>
        </div>
        <div class="max-w-s p-6 rounded-md shadow-md dark:bg-gray-900 dark:text-gray-50">
            <img src="https://th.bing.com/th/id/OIP.PWlP1SyEaQBsgr65docapwHaJh?rs=1&pid=ImgDetMain" alt="" class="object-cover object-center w-full rounded-md h-72 dark:bg-gray-500">
            <div class="mt-6 mb-2">
                <!-- <span class="block text-xs font-medium tracki uppercase dark:text-default-400">NEW</span> -->
                <h2 class="text-xl font-semibold tracki">Breshka Coat</h2>
            </div>
            <div class="mt-2 mb-2">
                <h2 class="text-xl font-semibold tracki">2500000 RLS</h2>
            </div>
            <div class="flex justify-left p-2 align-left rounded-lg sm:p-4 dark:bg-default-400">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor" class="h-9 w-9 dark:text-gray-800">
                  <polygon points="160 96.039 160 128.039 464 128.039 464 191.384 428.5 304.039 149.932 304.039 109.932 16 16 16 16 48 82.068 48 122.068 336.039 451.968 336.039 496 196.306 496 96.039 160 96.039"></polygon>
                  <path d="M176.984,368.344a64.073,64.073,0,0,0-64,64h0a64,64,0,0,0,128,0h0A64.072,64.072,0,0,0,176.984,368.344Zm0,96a32,32,0,1,1,32-32A32.038,32.038,0,0,1,176.984,464.344Z"></path>
                  <path d="M400.984,368.344a64.073,64.073,0,0,0-64,64h0a64,64,0,0,0,128,0h0A64.072,64.072,0,0,0,400.984,368.344Zm0,96a32,32,0,1,1,32-32A32.038,32.038,0,0,1,400.984,464.344Z"></path>
                </svg>
            </div>
        </div>
        <div class="max-w-s p-6 rounded-md shadow-md dark:bg-gray-900 dark:text-gray-50">
            <img src="https://th.bing.com/th/id/OIP.PWlP1SyEaQBsgr65docapwHaJh?rs=1&pid=ImgDetMain" alt="" class="object-cover object-center w-full rounded-md h-72 dark:bg-gray-500">
            <div class="mt-6 mb-2">
                <!-- <span class="block text-xs font-medium tracki uppercase dark:text-default-400">NEW</span> -->
                <h2 class="text-xl font-semibold tracki">Breshka Coat</h2>
            </div>
            <div class="mt-2 mb-2">
                <h2 class="text-xl font-semibold tracki">2500000 RLS</h2>
            </div>
            <div class="flex justify-left p-2 align-left rounded-lg sm:p-4 dark:bg-default-400">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor" class="h-9 w-9 dark:text-gray-800">
                  <polygon points="160 96.039 160 128.039 464 128.039 464 191.384 428.5 304.039 149.932 304.039 109.932 16 16 16 16 48 82.068 48 122.068 336.039 451.968 336.039 496 196.306 496 96.039 160 96.039"></polygon>
                  <path d="M176.984,368.344a64.073,64.073,0,0,0-64,64h0a64,64,0,0,0,128,0h0A64.072,64.072,0,0,0,176.984,368.344Zm0,96a32,32,0,1,1,32-32A32.038,32.038,0,0,1,176.984,464.344Z"></path>
                  <path d="M400.984,368.344a64.073,64.073,0,0,0-64,64h0a64,64,0,0,0,128,0h0A64.072,64.072,0,0,0,400.984,368.344Zm0,96a32,32,0,1,1,32-32A32.038,32.038,0,0,1,400.984,464.344Z"></path>
                </svg>
            </div>
        </div>
        <div class="max-w-s p-6 rounded-md shadow-md dark:bg-gray-900 dark:text-gray-50">
            <img src="https://th.bing.com/th/id/OIP.PWlP1SyEaQBsgr65docapwHaJh?rs=1&pid=ImgDetMain" alt="" class="object-cover object-center w-full rounded-md h-72 dark:bg-gray-500">
            <div class="mt-6 mb-2">
                <!-- <span class="block text-xs font-medium tracki uppercase dark:text-default-400">NEW</span> -->
                <h2 class="text-xl font-semibold tracki">Breshka Coat</h2>
            </div>
            <div class="mt-2 mb-2">
                <h2 class="text-xl font-semibold tracki">2500000 RLS</h2>
            </div>
            <div class="flex justify-left p-2 align-left rounded-lg sm:p-4 dark:bg-default-400">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor" class="h-9 w-9 dark:text-gray-800">
                  <polygon points="160 96.039 160 128.039 464 128.039 464 191.384 428.5 304.039 149.932 304.039 109.932 16 16 16 16 48 82.068 48 122.068 336.039 451.968 336.039 496 196.306 496 96.039 160 96.039"></polygon>
                  <path d="M176.984,368.344a64.073,64.073,0,0,0-64,64h0a64,64,0,0,0,128,0h0A64.072,64.072,0,0,0,176.984,368.344Zm0,96a32,32,0,1,1,32-32A32.038,32.038,0,0,1,176.984,464.344Z"></path>
                  <path d="M400.984,368.344a64.073,64.073,0,0,0-64,64h0a64,64,0,0,0,128,0h0A64.072,64.072,0,0,0,400.984,368.344Zm0,96a32,32,0,1,1,32-32A32.038,32.038,0,0,1,400.984,464.344Z"></path>
                </svg>
            </div>
        </div>
    </div>

    
    
    <div class="flex justify-center space-x-1 dark:text-gray-100">
        <button title="previous" type="button" class="inline-flex items-center justify-center w-8 h-8 py-0 border rounded-md shadow-md dark:bg-gray-900 dark:border-gray-800">
            <svg viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="w-4">
                <polyline points="15 18 9 12 15 6"></polyline>
            </svg>
        </button>
        <button type="button" title="Page 1" class="inline-flex items-center justify-center w-8 h-8 text-sm font-semibold border rounded shadow-md dark:bg-gray-900 dark:text-default-400 dark:border-default-400">1</button>
        <button type="button" class="inline-flex items-center justify-center w-8 h-8 text-sm border rounded shadow-md dark:bg-gray-900 dark:border-gray-800" title="Page 2">2</button>
        <button type="button" class="inline-flex items-center justify-center w-8 h-8 text-sm border rounded shadow-md dark:bg-gray-900 dark:border-gray-800" title="Page 3">3</button>
        <button type="button" class="inline-flex items-center justify-center w-8 h-8 text-sm border rounded shadow-md dark:bg-gray-900 dark:border-gray-800" title="Page 4">4</button>
        <button title="next" type="button" class="inline-flex items-center justify-center w-8 h-8 py-0 border rounded-md shadow-md dark:bg-gray-900 dark:border-gray-800">
            <svg viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="w-4">
                <polyline points="9 18 15 12 9 6"></polyline>
            </svg>
        </button>
    </div>
</section>